* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HERO BACKGROUND */
.hero {
  min-height: 100vh;
  background-image: url("../public/reception.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

/* LOGO PLACEHOLDER */
.logo {
  width: 120px;
  height: 40px;
}

/* MENU */
.nav-menu {
  flex: 1;
  justify-content: center;
  background: transparent !important;
  border-bottom: none !important;
}

.nav-menu .ant-menu-item {
  color: white !important;
}

.nav-menu .ant-menu-item-selected {
  background: transparent !important;
}

/* SIGN IN */
.signin-btn {
  color: white;
  border-color: white;
  background: transparent;
}

/* HERO TEXT */
.hero-content {
  padding: 140px 60px;
  max-width: 700px;
  color: white;
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 14px;
  max-width: 520px;
  line-height: 1.6;
}
/* DESIGN SECTION */
.design-section {
  min-height: 20vh;
  background-image: url("../public/banner back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;

  display: flex;
  align-items: center;
}

.design-content {
  max-width: 720px;
  padding: 120px 60px;
}

.design-content h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.design-content h2 span {
  font-weight: 700;
}

.design-content p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 40px;
  color: #333;
}

/* BUTTON */
.appointment-btn {
  background: #5f7d95;
  border-radius: 999px;
  padding: 10px 28px;
  height: auto;
}
/* Premium hover overlay */
.ant-card:hover .product-overlay {
  opacity: 1;
}

